
.text1 {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    position: static;
    margin-right: 20px;
}

.text2 {
    background-color: lightblue;
    height: 200px;
    width: 200px;
}

.header {
    background-color: lightgrey;
    color: black;
    position: fixed;
    height: 60px;
    top: 50px;
    left: 50px;
    right: 50px;
    text-align: center;
}