<!DOCTYPE html>
<html>
    <head>
        <title>Finances Portfile</title>
        <link rel="stylesheet" href="/static/smth.css">
    </head>
    <body>
        <div class="container">
            <h1>Results:</h1>
            <form method="POST" action="/budget/{{ category }}">

                <label>Gross Income:</label>
                <p>
                    {{ salary|float|round(2) }} 
                </p>

                <label>Taxes:</label>
                <p>
                    {{taxes}}
                </p>

                <label>Net Income:</label>
                <p>
                    {{net_salary}}
                </p>

                <label>Your Goal:</label>
                <p>
                    {{goal_amount}}
                </p>

                <label>Estimated Time Untill Your Goal:</label>
                <p>
                    {{time_required}}
                </p>

                <label>Your Time Limit:</label>
                <p>
                    {{ time_limit|float|round(1) }} months
                </p>

                <label>Money Needed Per Month For Reaching Your Goal:</label>
                <p>
                    {{monthly_required}}
                </p>
            </form>
        </div>
    </body>
</html>