<!DOCTYPE html>
<html>
    <head>
        <title>Finances Portfile</title>
        <link rel="stylesheet" href="/static/smth.css">
    </head>
    <body>
        <div class="container">
            <h1>Results:</h1>
            <form method="POST" action="/budget/{{ category }}">
                <label>Gross Income:</label>
                <p>

                </p>

                <label>Taxes:</label>
                <p>

                </p>

                <label>Net Income:</label>
                <p>

                </p>

                <label>Your Goal:</label>
                <p>

                </p>

                <label>Estimated Time Untill Your Goal:</label>
                <p>

                </p>

                <label>Your Time Limit:</label>
                <p>

                </p>

                <label>Money Needed Per Month For Reaching Your Goal:</label>
                <p>

                </p>
            </form>
        </div>
    </body>
</html>