<!DOCTYPE html>
<html>
<head>
    <title>Hack the Wealth - Budgeting App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body style="
height: 3000px;
">

<header class="head-homepage">
    <h1>Hack the Wealth: Budgeting App</h1>
    <p>Manage your finances with our simple budgeting tool.</p>
</header>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-12 text-center mb-4">
            <p class="categories">Categories</p>
        </div>
        {% for cat in categories %}
        <div class="col-md-3 mb-3">
            <a href="{{ url_for('budget', category=cat.lower().replace(' ', '_')) }}" class="btn btn-primary btn-block">
                {{ cat }}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</body>